footer {
    height: 144px;
    background-color: #08664F;
}
.footer-container { 
    height: 100%;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-footer{
    display: flex;
    width: 45%;
    justify-content: space-between;
    color: white;
}
.socials-footer {
    display: flex;
    width: 12%;
    justify-content: space-between;
}
.footer-mobile {
    display: none;
}
/* .footer-with-success-message {
    position: fixed;
    top:65px;
    height: 30px;
    width: 100%;
    background-color: #8cbf64;
    text-align: center;
} */